.header--link{
   font-weight: 500;
   margin-right: 18px;
}

@media screen and (min-width: 0px){
   .link{
      display: none;
   }
}

@media screen and (min-width: 1024px){
   .link{
      display: inline;
   }
}